<!DOCTYPE html>
<html>
<head>
    <title><%= activity.name %></title>
    <link rel="stylesheet" href="/css/fo.css">
</head>
<body>
    <h1><%= activity.name %></h1>
    <p><%= activity.description %></p>
    <a href="/activities">Back to Activities</a>
</body>
</html>