<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/ab.css">
</head>
<body>
    <h1>About the Environmental Education Hub</h1>
    <p>Our mission is to educate and engage individuals on environmental issues and sustainable practices. We provide articles, activities, and a forum for discussion to promote environmental awareness and action.</p>
</body>
</html>