<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/ho.css">
</head>
<body>
    <div class="background-image"></div>
    <div class="content-wrapper">
        <header>
            <h1>Welcome, <%= welcomename %></h1>
            <nav class="right-nav">
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="left-nav">
                <a href="/articles">Articles</a>
                <a href="/activities">Activities</a>
                <a href="/forum">Forum</a>
            </div>

            <div class="image-container">
                <img src="/css/images/e1.png" alt="Environment Image 2">
            </div>
        </div>
    </div>
</body>
</html>
