<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Environmental Education Hub</h1>
        <div class="auth-links">
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    <div class="content">
        <p>This is a platform to learn and share about environmental education.</p>
        
       
        <img src="/css/images/e4.png" alt="Environment Image 2" class="content-image">
    </div>
</body>
</html>
