<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/up.css">
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" action="/signup">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
        <br>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Sign Up</button>
        <a href="/signin">Sign in Now</a>
    </form>
    <% if (registered) { %>
        <p><%= registered %></p>
    <% } else if (useregistered) { %>
        <p><%= useregistered %></p>
    <% } %>
</body>
</html>
