<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/css/fo.css">
</head>
<body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <a href="/articles">Back to Articles</a>
</body>
</html>