<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="stylesheet" href="/css/fo.css">
</head>
<body>
    <div class="container">
        <h1>Forum</h1>
        <ul>
            <% threads.forEach(thread => { %>
                <li><a href="/forum/<%= thread.id %>"><%= thread.title %></a></li>
            <% }) %>
        </ul>
    </div>
    <div class="footer">
        <p>&copy; 2024 Environmental Education Hub. All rights reserved.</p>
    </div>
</body>
</html>
