<!DOCTYPE html>
<html>
<head>
    <title><%= thread.title %></title>
    <link rel="stylesheet" href="/css/fo.css">
</head>
<body>
    <h1><%= thread.title %></h1>
    <p><%= thread.content %></p>
    <a href="/forum">Back to Forum</a>
</body>
</html>